#logo {
    position: relative;
    left: 40px;
    top: 45px;
    width: 70pt;
    height: 70pt;
}

.fondo {
    position: absolute;
    top: 40px;
    height: 80%;
    width: 100%;

}

